*,
*::after,
*::before {
  box-sizing: border-box;
}

/* for future changes - #F3825B - MARS #476A83 - Europa #829FD5 - Neptune */

body {
  font-family: "Judson", sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.home {
  background: linear-gradient(28.64deg, #117bc7 0%, #000000 61.68%);
}

.mars {
  background: linear-gradient(28.64deg, #f3825b 0%, #000000 61.68%);
}

.europa {
  background: linear-gradient(28.64deg, #476a83 0%, #000000 61.68%);
}

.neptune {
  background: linear-gradient(28.64deg, #4069f4 0%, #000000 61.68%);
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.logo {
  margin-top: 2em;
  margin-left: 7.5em;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin-right: 7.5em;
  background: hsl(0 0% 0% / 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

@media (max-width: 35em) {
  .about-form {
    display: none;
  }
  .primary-navigation {
    --gap: 3em;
    position: fixed;
    z-index: 1000;
    margin: 0;
    font-size: 8px;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 5em;

    transform: translateX(100%);
    transition: all 500ms cubic-bezier(0.815, 0.285, 0.335, 0.815);
  }
  .logo {
    margin-left: 1.25em;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(images/Nav-toggle.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(images/Nav-toggle-close.svg);
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

.primary-navigation a {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.container {
  color: #fff;
  margin-left: 7.5em;
  margin-right: 7.5em;
  margin-top: 10em;
}

.container h1 {
  font-weight: 400;
  font-size: 40px;
}

.container p {
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 35em) {
  .container {
    color: #fff;
    margin-left: 1.25em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
  .container h1 {
    font-weight: 400;
    font-size: 32px;
  }

  .container p {
    font-weight: 400;
    font-size: 16px;
  }
}

footer {
  background-color: hsla(0, 0%, 100%, 0.171);
  margin-top: auto;
}

.link-bottom {
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

.link-bottom a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
